In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2021, 1, 21, 19, 1, 1, 976712)

In [4]:
now.year, now.month, now.day

(2021, 1, 21)

In [5]:
delta = datetime(2011,1,17) - datetime(2008,6,24,8,15)

In [6]:
delta

datetime.timedelta(days=936, seconds=56700)

In [7]:
delta.seconds

56700

In [8]:
## Add or substract a timedelta

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011,1,7)

In [11]:
start

datetime.datetime(2011, 1, 7, 0, 0)

In [13]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [14]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [15]:
# Converting between String and Datetime

In [16]:
stamp = datetime(2011,1,3)

In [17]:
str(stamp)

'2011-01-03 00:00:00'

In [18]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [19]:
############

In [21]:
from datetime import datetime

In [22]:
dates = [datetime(2011,1,2), datetime(2011,1,5),
datetime(2011,1,7), datetime(2011,1,8),
datetime(2011,1,10), datetime(2011,1,12)]

In [23]:
dates

[datetime.datetime(2011, 1, 2, 0, 0),
 datetime.datetime(2011, 1, 5, 0, 0),
 datetime.datetime(2011, 1, 7, 0, 0),
 datetime.datetime(2011, 1, 8, 0, 0),
 datetime.datetime(2011, 1, 10, 0, 0),
 datetime.datetime(2011, 1, 12, 0, 0)]

In [24]:
import pandas as pd
import numpy as np

In [29]:
ts = pd.Series(np.random.randn(6),index=dates)

In [28]:
ts

2011-01-02   -0.966347
2011-01-05    1.359208
2011-01-07   -0.845631
2011-01-08    0.188997
2011-01-10   -0.502688
2011-01-12    0.677252
dtype: float64

In [30]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [32]:
ts + ts[::2]

2011-01-02    1.941346
2011-01-05         NaN
2011-01-07   -1.572562
2011-01-08         NaN
2011-01-10   -1.295646
2011-01-12         NaN
dtype: float64